<h1 style="color:blue">
    Messages SQS
</h1>

<form method="post">
    <label>Asunto</label>
    <input type="text" name="asunto" class="form-control" />
    <label>Email</label>
    <input type="text" name="email" class="form-control" />
    <label>Contenido del mensaje</label>
    <textarea class="form-control" name="contenido"></textarea>
    <label>Fecha del mensaje</label>
    <input type="date" name="fecha" class="form-control" />
    <button class="btn btn-info">Send Message</button>
</form>
<h2 style="color:fuchsia">@ViewData["MENSAJE"]</h2>